{% load static %}
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light my-navbar">
           
            <!-- Logo -->
            <a class="navbar-brand company-logo" href="{% url 'home' %}">
                <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
            </a>

            <!-- Mobile Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto align-items-center">

                    <li class="nav-item">
                        <a class="nav-link {% if '/' == request.path %}active{% endif %}"
                           href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if 'cars' in request.path %}active{% endif %}"
                           href="{% url 'cars' %}">Cars</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if 'about' in request.path %}active{% endif %}"
                           href="{% url 'about' %}">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if 'services' in request.path %}active{% endif %}"
                           href="{% url 'services' %}">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if 'contact' in request.path %}active{% endif %}"
                           href="{% url 'contact' %}">Contact</a>
                    </li>

                    <!-- Search -->
                    <li class="nav-item ms-3">
                        <form action="{% url 'search' %}" method="get" class="dynamic-search m-0">
                            <input type="text" name="keyword" class="search-input" placeholder="Search...">
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </li>

                </ul>
            </div>

        </nav>
    </div>
</header>